h3:first-child {
    color: pink;
}

#greycol {
    color:gray;
}

.text-box>div>p {
    color: red;
}

p:nth-child(7n) {
    color: green;
}

.yellow {
    color: yellow;
}

th {
    border: solid;
}

td:hover {
    border: dashed lightgrey;
}

.sci {
    background-color: red;
}

.fr {
    background-color: blue;
}

.hi {
    background-color: yellow;
}

.cs {
    background-color: grey;
}

.art {
    background-color: violet;
}

.eng {
    background-color: greenyellow;
}

.pe {
    background-color: pink;
}

.pd {
    background-color: brown;
}

.dr {
    background-color: aqua;
}

.re {
    background-color: blueviolet;
}

.ma {
    background-color: lightsalmon;
}

.ww {
    background-color: crimson;
}

.gg {
    background-color: antiquewhite;
}

table:nth-child(even) {
    border: dashed black;
}